.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out, background-position 0.5s ease-out;
  z-index: 0;
  will-change: background-position;
}

.slider-image.active {
  opacity: 1;
  z-index: 1;
}
